{% extends('base.html')%}
{% block title %}{{title}}{% endblock %}
{% block body %}
	<br><hr>
	<h1> Admin Login </h1></br></br>
	<form action="#" method="post">
		<div class="mb-3">
			<label for="emialformysite" class="form-label">Email address</label>
			<input type="email" class="form-control" id="emialformysite" aria-describedby="emailHelp" placeholder="Email" name="email">
			<div id="emailHelp" class="form-text">Enter your email above</div>
		</div>
		<div class="mb-3">
			<label for="passwordformysite" class="form-label">Password</label>
			<input type="password" class="form-control" id="passwordformysite" placeholder="Password" name="password">
		</div>
		
	</form>
	<a href ="http://127.0.0.1:5000/admin/"><button  class="btn btn-primary">Sign in</button></a>
	<br>
{% endblock %}